.custom__button {
  color: var(--white);
  font-size: var(--smallFontSize);
  font-weight: var(--lightFontWeight);
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 10px 80px;
  box-shadow: var(--standardBoxShadow);
}

.custom__button-reject:disabled,
.custom__button-reject[disabled],
.custom__button-reject:disabled:hover,
.custom__button-reject[disabled]:hover {
  border: 0;
  background-color: rgba(254, 7, 7, 0.3);
  color: #fff;
}

.custom__button-confrim:disabled,
.custom__button-confrim[disabled],
.custom__button-confrim:disabled:hover,
.custom__button-confrim[disabled]:hover {
  border: 0;
  background-color: rgba(87, 115, 190, 0.521);
  color: #fff;
}

.custom__button-confrim {
  background-color: var(--confirm);
}

.custom__button-confrim:hover {
  color: var(--white);
  background-color: rgb(32, 89, 247);
}

.custom__button-reject {
  background-color: var(--reject);
}

.custom__button-reject:hover {
  color: var(--white);
  background-color: rgb(197, 22, 22);
}
