.priority__title {
  font-size: var(--h4FontSize);
  font-weight: var(--boldFontWeight);
}

.priority__lables {
  font-size: 14px;
}

.priority__input {
  height: 50px;
  border-radius: 10px;
}

.priority__custom_inputs {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}

.priority__custom_inputs > div {
  flex: 1;
}

@media all and (max-width: 500px) {
  .priority__custom_inputs {
    flex-direction: column;
    gap: 10px;
  }
}
