.custom__status-button {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in-out;
}

.custom__status-button:hover {
  cursor: pointer;
  color: rgba(0, 0, 0);
}
