.css-929hxt-MuiInputBase-input-MuiInput-input {
  font-size: 14px !important;
}

.css-18upt33-MuiTableRow-root:hover td {
  background-color: none;
}

.css-18upt33-MuiTableRow-root {
  border-radius: 10px;
}
.css-18upt33-MuiTableRow-root:hover {
  /* background-color: rgb(242, 242, 242); */
  display: block;
  border-radius: 10px;
}

.css-l4u8b9-MuiInputBase-root-MuiInput-root::before,
.css-l4u8b9-MuiInputBase-root-MuiInput-root:hover::before,
.css-l4u8b9-MuiInputBase-root-MuiInput-root::after {
  border: 0 !important;
}
