.dropdown-menu.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropdown-menu {
  min-width: 0;
  width: 50px;
}
.custom__color-filter-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: black;
  padding: 9px;
  height: 30px;
  width: 50px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  justify-content: space-between;
}
.custom__color-filter-button:hover,
.custom__color-filter-button:active,
.custom__color-filter-button.show {
  background-color: #e2e2e2 !important;
  color: black !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.custom-dropdown-button {
  padding: 0;
  border-radius: 0;
}

.custom-dropdown-reset-button,
.custom-dropdown-reset-button:hover {
  padding: 5px 0 0 0;
  border-top: 1px solid black;
  border-radius: 0;
  margin-top: 5px;
  font-size: 12px;
}
