.worker__title {
    font-size: var(--h4FontSize);
    font-weight: var(--boldFontWeight);
  }
  
  .worker__lables {
    font-size: 14px;
  }
  
  .worker_input {
    height: 50px;
    border-radius: 10px;
  }
  