.custom__button {
  color: var(--white);
  font-size: var(--smallFontSize);
  font-weight: var(--lightFontWeight);
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 10px 80px;
  box-shadow: var(--standartBoxShadow);
}

.custom__button-confrim {
  background-color: var(--confirm);
}

.custom__button-confrim:hover {
  color: var(--white);
  background-color: rgb(32, 89, 247);
}

.custom__button-reject {
  background-color: var(--reject);
}

.custom__button-reject:hover {
  color: var(--white);
  background-color: rgb(197, 22, 22);
}
