:root {
  --white: #ffffff;
  --page-background: #fbfbfb;
  --confirm: rgba(40, 145, 242, 1);
  --reject: rgba(254, 7, 7, 0.75);

  --standardBorderRadius: 20px;
  --standardBoxShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  --smallFontSize: 16px;
  --h4FontSize: 24px;

  --bs-body-font-family: 'Roboto', sans-serif;

  --lightFontWeight: 300;
  --regularFontWeight: 400;
  --boldFontWeight: 700;
}

body {
  background-color: var(--page-background);
}

.custom__add-table-button {
  border: 0;
  border-radius: 10px;
  padding: 15px 10px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.custom__add-table-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.custom__modals-two-buttons {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.custom__modals-button {
  display: flex;
  justify-content: center;
}

@media all and (min-width: 500px) {
  .custom__modals-button button {
    width: 255px;
  }
}

@media all and (max-width: 500px) {
  .custom__modals-button,
  .custom__modals-two-buttons {
    flex-direction: column;
    gap: 10px;
  }
}
