.custom__signup-h1 {
  margin-bottom: 7%;
}

.custom__signup-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.custom__signup-input {
  margin-bottom: 3%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.custom__signup-hiddenButton {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.custom__signup-eye {
  position: absolute;
  top: 25%;
  right: 4%;
}

.custom__signup-button {
  margin-top: 4%;
  margin-bottom: 6%;
  background-color: #2891f2;
  border: none;
}

.custom__signup-button:hover {
  background-color: #1f73c1;
}

.custom__signup-divider {
  display: flex;
  align-items: center;
}

.custom__signup-line {
  content: '';
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.custom__signup-text {
  margin: 0 9%;
}

.custom__signup-alternativeRegistration {
  display: flex;
  justify-content: center;
  gap: 50%;
  margin-top: 6%;
  margin-bottom: 12%;
}

.custom__signup-registrationOffer {
  font-size: 100%;
  text-align: center;
}

.custom__signup-link {
  text-decoration: none;
  color: #2891f2;
}

.custom__signup-link:hover {
  color: #1f73c1;
}

::-ms-reveal {
  display: none;
}
